.transparent
{
    transform: scale(3);
    margin: auto;
    width: 50%;
    border-radius: 25px;
    margin-top: 50px;
    padding: 10px; 
    height:550px;width:800px;color: white;font-size:25px;
    box-shadow: 2px 2px 15px aqua;
    backdrop-filter: blur(5px); 
}
.logo{
    height: 150px;
    width: 150px;
    padding-left: 40%;
    padding-top: 15px;
}
.body{
  overflow-y: hidden;
}
body
{
    background-image: url(loginbg.jpg);
    transform: scale(.3);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.button{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: background 0.3s ease-in-out;
}
.button:hover{
  background: rgba(255, 255, 255, 0.25);
}
form input[type="email"]{
  color: white;
  transform: scale(1.8);
    margin-left: 111px; 
    position: relative;
    z-index: 1;
    background: transparent;
    border-radius: 25px;
    border-color: #fff;
}
#email{
  margin-left: 27px;
  margin-right: -35px;
}
form input[type="password"]{
  color: white;
  transform: scale(1.8);
    margin-left: 70px; 
    position: relative;
    z-index: 1;
    background: transparent;
    border-radius: 25px;
    border-color: #fff;
}
form input[type="text"] {
  color: white;
    transform: scale(1.8);
    margin-left: 70px;
    position: relative;
    z-index: 1;
    background: transparent;
    border-radius: 25px;
    border-color: #fff; 
}
#confirm-password{
    margin-left: -106px; 
    margin-right: 10px;
}

.center{
    padding-top: 30px;
    margin-left: 250px;
}
label{
    margin-left: -10px;
}
button{
    margin-left: 110px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
}
.flex1 a{
  color: white;
    margin-left: 410px;
    margin-top: 15px;
    position: relative;
}
a:link{
  position: relative;
  z-index: 1;
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(0, 255, 115);
}
